USE [master]
GO
/****** Object:  Database [aa_isf_db_dev]    Script Date: 2013/4/30 22:57:03 ******/
CREATE DATABASE [aa_isf_db_dev] ON  PRIMARY 
( NAME = N'aa_isf_db_dev_data', FILENAME = N'D:\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\aa_isf_db_dev_data.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'aa_isf_db_dev_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\aa_isf_db_dev_log.ldf' , SIZE = 2304KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [aa_isf_db_dev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [aa_isf_db_dev]
GO
/****** Object:  User [isf_db_uname_685219]    Script Date: 2013/4/30 22:57:04 ******/
CREATE USER [isf_db_uname_685219] FOR LOGIN [isf_db_uname_685219] WITH DEFAULT_SCHEMA=[isf_db_uname_685219]
GO
ALTER ROLE [db_owner] ADD MEMBER [isf_db_uname_685219]
GO
/****** Object:  Schema [isf_db_uname_685219]    Script Date: 2013/4/30 22:57:05 ******/
CREATE SCHEMA [isf_db_uname_685219]
GO
/****** Object:  StoredProcedure [isf_db_uname_685219].[checkJudge]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [isf_db_uname_685219].[checkJudge]
@Para_uname varchar(18)
AS
SELECT count(*) FROM Judge WHERE JID=@Para_uname

GO
/****** Object:  StoredProcedure [isf_db_uname_685219].[checkPwd]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [isf_db_uname_685219].[checkPwd]
@Para_pwd varchar(18),
@Para_uname varchar(18)
AS
SELECT count(*) FROM ACCOUNT WHERE JID=@Para_uname AND pwd=@Para_pwd

GO
/****** Object:  StoredProcedure [isf_db_uname_685219].[checkUname]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [isf_db_uname_685219].[checkUname]
@Para_uname varchar(18)
AS
SELECT count(*) FROM ACCOUNT WHERE JID=@Para_uname

GO
/****** Object:  StoredProcedure [isf_db_uname_685219].[CRT]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [isf_db_uname_685219].[CRT]
@Para_rt varchar(18)
AS
SELECT count(*) FROM ACCOUNT WHERE RT=@Para_rt

GO
/****** Object:  StoredProcedure [isf_db_uname_685219].[NRT]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [isf_db_uname_685219].[NRT]
@Para_uname varchar(18),
@Para_rt int
AS
SELECT count(*) FROM ACCOUNT WHERE JID=@Para_uname AND RT=@Para_rt

GO
/****** Object:  Table [isf_db_uname_685219].[Account]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [isf_db_uname_685219].[Account](
	[JID] [char](18) NOT NULL,
	[pwd] [varchar](50) NOT NULL,
	[Email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[JID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [isf_db_uname_685219].[Assignment]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [isf_db_uname_685219].[Assignment](
	[AID] [int] IDENTITY(1,1) NOT NULL,
	[Score] [char](18) NULL,
	[JID] [char](18) NULL,
	[PID] [char](18) NULL,
	[PeriodID] [char](18) NULL,
PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [isf_db_uname_685219].[Availability]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [isf_db_uname_685219].[Availability](
	[JID] [char](18) NOT NULL,
	[PeriodID] [char](18) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JID] ASC,
	[PeriodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [isf_db_uname_685219].[Category]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [isf_db_uname_685219].[Category](
	[CID] [char](18) NOT NULL,
	[Name] [char](18) NULL,
	[Description] [char](18) NULL,
PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [isf_db_uname_685219].[Category_Judge]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [isf_db_uname_685219].[Category_Judge](
	[CID] [char](18) NOT NULL,
	[JID] [char](18) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CID] ASC,
	[JID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [isf_db_uname_685219].[Grade_Level]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [isf_db_uname_685219].[Grade_Level](
	[GID] [char](18) NOT NULL,
	[Division] [char](18) NULL,
PRIMARY KEY CLUSTERED 
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [isf_db_uname_685219].[Grade_Level_Judge]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [isf_db_uname_685219].[Grade_Level_Judge](
	[GID] [char](18) NOT NULL,
	[JID] [char](18) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GID] ASC,
	[JID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [isf_db_uname_685219].[Judge]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [isf_db_uname_685219].[Judge](
	[JID] [char](18) NOT NULL,
	[FName] [char](18) NULL,
	[LName] [char](18) NULL,
	[CategoryA] [char](18) NULL,
	[CategoryB] [char](18) NULL,
	[CategoryC] [char](18) NULL,
	[CategoryD] [char](18) NULL,
	[Division] [char](18) NULL,
PRIMARY KEY CLUSTERED 
(
	[JID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [isf_db_uname_685219].[Period]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [isf_db_uname_685219].[Period](
	[PeriodID] [char](18) NOT NULL,
	[Begining] [time](7) NULL,
	[Ending] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PeriodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [isf_db_uname_685219].[Project]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [isf_db_uname_685219].[Project](
	[PID] [char](18) NOT NULL,
	[CID] [char](18) NULL,
	[GID] [char](18) NULL,
	[PName] [varchar](200) NULL,
	[Time] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [isf_db_uname_685219].[ProjectAvailability]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [isf_db_uname_685219].[ProjectAvailability](
	[PID] [char](18) NOT NULL,
	[PeriodID] [char](18) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PID] ASC,
	[PeriodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [isf_db_uname_685219].[Student]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [isf_db_uname_685219].[Student](
	[SID] [char](18) NOT NULL,
	[FName] [char](18) NULL,
	[MName] [char](18) NULL,
	[LName] [char](18) NULL,
	[PID] [char](18) NULL,
	[School] [char](18) NULL,
	[Age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [isf_db_uname_685219].[AssignmentList]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [isf_db_uname_685219].[AssignmentList] AS
SELECT A.AID,A.PERIODID,A.JID AS JudgeID,J.FNAME AS Judge_NAME,P.PID AS ProjectID,S.FNAME AS Stu_Name,P.PNAME as Proj_Name
FROM ASSIGNMENT A, PROJECT P,JUDGE J,STUDENT S
WHERE P.PID=A.PID AND A.JID=J.JID AND P.PID=S.PID


GO
/****** Object:  View [isf_db_uname_685219].[ProjList]    Script Date: 2013/4/30 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [isf_db_uname_685219].[ProjList] AS
SELECT PROJECT.PID,PNAME,PROJECT.CID,STUDENT.FNAME,PROJECT.GID,Grade_Level.DIVISION,PROJECT.TIME
FROM PROJECT,Grade_Level,STUDENT
WHERE PROJECT.GID=Grade_Level.GID AND PROJECT.PID=STUDENT.PID


GO
INSERT [isf_db_uname_685219].[Account] ([JID], [pwd], [Email]) VALUES (N'10000             ', N'Science           ', N'2010wendian@gmail.com')
INSERT [isf_db_uname_685219].[Account] ([JID], [pwd], [Email]) VALUES (N'10008             ', N'Science', N'2010wendian@gmail.com')
SET IDENTITY_INSERT [isf_db_uname_685219].[Assignment] ON 

INSERT [isf_db_uname_685219].[Assignment] ([AID], [Score], [JID], [PID], [PeriodID]) VALUES (113, N'n/a               ', N'10002             ', N'121               ', N'H                 ')
INSERT [isf_db_uname_685219].[Assignment] ([AID], [Score], [JID], [PID], [PeriodID]) VALUES (114, N'n/a               ', N'12095             ', N'126               ', N'A                 ')
INSERT [isf_db_uname_685219].[Assignment] ([AID], [Score], [JID], [PID], [PeriodID]) VALUES (115, N'n/a               ', N'12095             ', N'136               ', N'M                 ')
SET IDENTITY_INSERT [isf_db_uname_685219].[Assignment] OFF
INSERT [isf_db_uname_685219].[Availability] ([JID], [PeriodID]) VALUES (N'0000256           ', N'A                 ')
INSERT [isf_db_uname_685219].[Availability] ([JID], [PeriodID]) VALUES (N'0000256           ', N'B                 ')
INSERT [isf_db_uname_685219].[Availability] ([JID], [PeriodID]) VALUES (N'0000256           ', N'C                 ')
GO
INSERT [isf_db_uname_685219].[Category] ([CID], [Name], [Description]) VALUES (N'AS                ', NULL, NULL)
INSERT [isf_db_uname_685219].[Category] ([CID], [Name], [Description]) VALUES (N'BE                ', NULL, NULL)
INSERT [isf_db_uname_685219].[Category] ([CID], [Name], [Description]) VALUES (N'BI                ', NULL, NULL)
INSERT [isf_db_uname_685219].[Grade_Level] ([GID], [Division]) VALUES (N'10                ', N'S                 ')
INSERT [isf_db_uname_685219].[Grade_Level] ([GID], [Division]) VALUES (N'11                ', N'S                 ')
INSERT [isf_db_uname_685219].[Grade_Level] ([GID], [Division]) VALUES (N'12                ', N'S                 ')
INSERT [isf_db_uname_685219].[Judge] ([JID], [FName], [LName], [CategoryA], [CategoryB], [CategoryC], [CategoryD], [Division]) VALUES (N'0000256           ', N'DiAN              ', N'wen               ', N'CS                ', N'ME                ', N'MA                ', N'BI                ', N'J                 ')
INSERT [isf_db_uname_685219].[Judge] ([JID], [FName], [LName], [CategoryA], [CategoryB], [CategoryC], [CategoryD], [Division]) VALUES (N'0003068995        ', N'Dean              ', N'Wen               ', N'CS                ', N'BE                ', N'ME                ', N'PH                ', N'J                 ')
INSERT [isf_db_uname_685219].[Judge] ([JID], [FName], [LName], [CategoryA], [CategoryB], [CategoryC], [CategoryD], [Division]) VALUES (N'10001             ', N'Jeffrey           ', N'Bhosale           ', N'BI                ', N'MI                ', N'ME                ', N'ME                ', N'S                 ')
GO
INSERT [isf_db_uname_685219].[Period] ([PeriodID], [Begining], [Ending]) VALUES (N'A                 ', CAST(0x0700A8E76F4B0000 AS Time), CAST(0x0700C258884D0000 AS Time))
INSERT [isf_db_uname_685219].[Period] ([PeriodID], [Begining], [Ending]) VALUES (N'B                 ', CAST(0x0700C258884D0000 AS Time), CAST(0x0700DCC9A04F0000 AS Time))
INSERT [isf_db_uname_685219].[Period] ([PeriodID], [Begining], [Ending]) VALUES (N'C                 ', CAST(0x0700DCC9A04F0000 AS Time), CAST(0x0700F63AB9510000 AS Time))
INSERT [isf_db_uname_685219].[Project] ([PID], [CID], [GID], [PName], [Time]) VALUES (N'100               ', N'AS                ', N'6                 ', N'Space vs. No Space: Competition for Oviposition Sites in Bean Beetles', 2)
INSERT [isf_db_uname_685219].[Project] ([PID], [CID], [GID], [PName], [Time]) VALUES (N'101               ', N'CB                ', N'11                ', N'', 0)
INSERT [isf_db_uname_685219].[Project] ([PID], [CID], [GID], [PName], [Time]) VALUES (N'102               ', N'EN                ', N'7                 ', N'How Much Shake Will It Take?', 0)
INSERT [isf_db_uname_685219].[ProjectAvailability] ([PID], [PeriodID]) VALUES (N'100               ', N'A                 ')
INSERT [isf_db_uname_685219].[ProjectAvailability] ([PID], [PeriodID]) VALUES (N'100               ', N'B                 ')
INSERT [isf_db_uname_685219].[ProjectAvailability] ([PID], [PeriodID]) VALUES (N'100               ', N'C                 ')
GO
INSERT [isf_db_uname_685219].[Student] ([SID], [FName], [MName], [LName], [PID], [School], [Age]) VALUES (N'11                ', N'Kyra              ', NULL, N'Kabous            ', N'303               ', NULL, NULL)
INSERT [isf_db_uname_685219].[Student] ([SID], [FName], [MName], [LName], [PID], [School], [Age]) VALUES (N'12                ', N'Schyler           ', NULL, N'Carre             ', N'335               ', NULL, NULL)
INSERT [isf_db_uname_685219].[Student] ([SID], [FName], [MName], [LName], [PID], [School], [Age]) VALUES (N'13                ', N'Shivani           ', N'Nelson            ', N'Brubaker          ', N'336               ', NULL, NULL)
ALTER TABLE [isf_db_uname_685219].[Assignment]  WITH CHECK ADD FOREIGN KEY([PeriodID])
REFERENCES [isf_db_uname_685219].[Period] ([PeriodID])
GO
ALTER TABLE [isf_db_uname_685219].[Assignment]  WITH CHECK ADD FOREIGN KEY([JID])
REFERENCES [isf_db_uname_685219].[Judge] ([JID])
GO
ALTER TABLE [isf_db_uname_685219].[Assignment]  WITH CHECK ADD FOREIGN KEY([PID])
REFERENCES [isf_db_uname_685219].[Project] ([PID])
GO
ALTER TABLE [isf_db_uname_685219].[Category_Judge]  WITH CHECK ADD FOREIGN KEY([CID])
REFERENCES [isf_db_uname_685219].[Category] ([CID])
GO
ALTER TABLE [isf_db_uname_685219].[Category_Judge]  WITH CHECK ADD FOREIGN KEY([JID])
REFERENCES [isf_db_uname_685219].[Judge] ([JID])
GO
ALTER TABLE [isf_db_uname_685219].[Grade_Level_Judge]  WITH CHECK ADD FOREIGN KEY([GID])
REFERENCES [isf_db_uname_685219].[Grade_Level] ([GID])
GO
ALTER TABLE [isf_db_uname_685219].[Grade_Level_Judge]  WITH CHECK ADD FOREIGN KEY([JID])
REFERENCES [isf_db_uname_685219].[Judge] ([JID])
GO
ALTER TABLE [isf_db_uname_685219].[Project]  WITH CHECK ADD FOREIGN KEY([CID])
REFERENCES [isf_db_uname_685219].[Category] ([CID])
GO
ALTER TABLE [isf_db_uname_685219].[Project]  WITH CHECK ADD FOREIGN KEY([GID])
REFERENCES [isf_db_uname_685219].[Grade_Level] ([GID])
GO
ALTER TABLE [isf_db_uname_685219].[Student]  WITH CHECK ADD FOREIGN KEY([PID])
REFERENCES [isf_db_uname_685219].[Project] ([PID])
GO
/****** Object:  Trigger [isf_db_uname_685219].[trgAfterInsert]    Script Date: 2013/4/30 22:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [isf_db_uname_685219].[trgAfterInsert] ON [isf_db_uname_685219].[Judge] 
FOR INSERT
AS
	declare @empid char(18);
	select @empid=i.JID from inserted i;	

	DECLARE @charFlag INT
	SET @charFlag = ASCII('A')
	WHILE (@charFlag <=ASCII('T'))
		BEGIN
		insert into Availability values ( @empid,CHAR(@charFlag))
		--PRINT CHAR(@charFlag)
		SET @charFlag=@charFlag+1;
		END

	PRINT 'AFTER INSERT trigger fired.'

GO
/****** Object:  Trigger [isf_db_uname_685219].[trgBeforeDelete]    Script Date: 2013/4/30 22:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [isf_db_uname_685219].[trgBeforeDelete] ON [isf_db_uname_685219].[Judge]
INSTEAD OF DELETE
AS
	 Declare @empid char(18);
     SELECT @empid=D.JID FROM DELETED D
     Delete from availability where JID=@empid
	 DELETE FROM JUDGE WHERE JID=@empid
	 PRINT 'Before DELETE trigger fired.'

GO
/****** Object:  Trigger [isf_db_uname_685219].[trgAfterInsertc]    Script Date: 2013/4/30 22:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [isf_db_uname_685219].[trgAfterInsertc] ON [isf_db_uname_685219].[Project] 
FOR INSERT
AS
	declare @empid char(18);
	select @empid=i.PID from inserted i;	

	DECLARE @charFlag INT
	SET @charFlag = ASCII('A')
	WHILE (@charFlag <=ASCII('T'))
		BEGIN
		insert into ProjectAvailability values ( @empid,CHAR(@charFlag))
		--PRINT CHAR(@charFlag)
		SET @charFlag=@charFlag+1;
		END

	PRINT 'AFTER INSERT trigger fired.'

GO
/****** Object:  Trigger [isf_db_uname_685219].[trgBeforeDeletevofProject]    Script Date: 2013/4/30 22:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [isf_db_uname_685219].[trgBeforeDeletevofProject] ON [isf_db_uname_685219].[Project]
INSTEAD OF DELETE
AS
	 Declare @empid char(18);
     SELECT @empid=D.PID FROM DELETED D
     Delete from ProjectAvailability where PID=@empid
	 DELETE FROM Project WHERE PID=@empid
	 PRINT 'Before DELETE trigger fired.'

GO
USE [master]
GO
